name: CI MLFlow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install mlflow

      - name: Run mlflow project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      - name: Save mlruns to repo
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore: save mlruns"
          file_pattern: mlruns/
          branch: main

      - name: Get latest mlflow run_id
        run: |
          cd MLProject
          RUN_ID=$(ls -td mlruns/*/ | head -n 1 | cut -d'/' -f3)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"

      - name: Build Docker Model
        run: |
          cd MLProject
          mlflow models build-docker --model-uri "runs:/$RUN_ID/model" --name "workflow"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag Docker Image
        run: |
          docker tag abalone ${{ secrets.DOCKER_HUB_USERNAME }}/workflow:latest

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/workflow:latest
